<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
            <connectionStrings>
                <add name="root" connectionString="Data Source=(localdb)\ProjectsV13;&#xD;&#xA;						 Initial Catalog=ClassicPizza;&#xD;&#xA;						 Integrated Security=True;" />
                <add name="VisualProgrammingProject.Properties.Settings.ClassicPizzaConnectionString"
                    connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=ClassicPizza;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
                    providerName="System.Data.SqlClient" />
            </connectionStrings>

</configuration>